/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://fonts.cdnfonts.com/css/gloock-2');

/* Font Faces */
@font-face {
  font-family: 'GyeonggiMillenniumBackground';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'GyeonggiMillenniumBackground', sans-serif;
  --font-ko-sub: 'Noto Serif KR', sans-serif;
  --font-en-main: 'Gloock', sans-serif;
  --color-primary: #F0F2F4;
  --color-secondary: #3C4F5D;
}